*~
*.pyc
*.o
*.prof
*.swp
*.log

settings.py
urls.py
createdb

nell_pid
DBReport.txt
DSSPrime2DSS_report.txt
DssBlackoutReport.txt
DssDbHealthReport.txt
DssProjectReport.txt
DssSessionReport.txt
DssWeeklyReport.txt
GBT09A-001TimeAccounting.txt
WindowsReport.txt
test_completionReport.txt
test_projTimeAcctReport.txt
