.conflict table {
  border:          2px solid black;
  width:           100%;
}
.conflict thead {
  background-color: #C3D9FF;
  font-weight:bold;
  text-align: center;
}

.conflict td {
  text-align: right;
}

.month table {
  border:          2px solid black;
  border-collapse: collapse;
  width:           100%;
}

.month thead {
  background-color: #EEEEEE;
  border:           2px solid black;
}

.month td {
  border: 1px solid #CCCCCC;
  height: 120px !important;
  width:  14%;
}

.month .day, #popup {
  height:   100%;
  margin:   0;
  overflow: hidden;
  position: relative;
}

.month .label, #popup .label {
  padding-right: 2px;
  padding-top:   2px;
  text-align:    right;
  position:      relative;
  z-index:       100;
}

.item {
  color:     #FFFFFF;
  position:  absolute;
  margin:    0;
  padding:   0;
  overflow:  hidden;
  font-size: smaller;
}

#popup {
  background-color: #FFFFFF;
  opacity:          0.9;
  border:           2px solid black;
}

