<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <!-- load css before javascript! -->
    <link rel="stylesheet" href="/static/css/lib/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/lib/blueprint/print.css" type="text/css" media="print">    
    <link rel="stylesheet" href="/static/css/lib/fullcalendar/fullcalendar.css" type="text/css">
    <style type="text/css">
      .top_menu {font-size:120%}
    </style>
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/lib/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!-- <script type="text/javascript" src="/static/javascript/lib/jquery.js"> </script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"> </script>
    <script type="text/javascript" src="http://libraryh3lp.com/presence/jid/nrao-dss/chat.libraryh3lp.com/js"></script>
    <script type="text/javascript" src="/static/javascript/help.js"></script>
    {% block scripts %}
    {% endblock %}
</head>
{% load custom %}

<body>
  <div class="container">
    <div class="banner span-24">
      <img src="/static/images/banner.jpg" />
    <table>
      <tr>
        <td>
          <form style="display: inline; vertical-align: super;" action="/search" method="POST" title="Search investigator first/last name, project ID, short project ID, project title, and trimester" >
            <input type="text" name="search" />
            <input type="submit" value="Search" />
          </form>
          <a href="/projects/ical" title="This link provides access to DSS events in the 'iCalendar' format.  To use this feature, right-click the 'ICAL' icon and select 'Copy Link Location'.  Then paste the link into your favorite iCalendar application.">
            <img src="/static/images/ical.gif" style="border: 0;" />
          </a>
        </td>
        <td style="text-align: right;">
          <span id="help" style="display: none; border-right: 10px solid white;">
            <a href="#" onclick="showHelp(); return false;" title="Click here to connect to a DSS team member in live chat">
              <img src="/static/images/chat.gif" style="border: 0;" />
            </a>
          </span>
          <span id="offlinehelp" style="display: none;">
            <a href="#" onclick="showOfflineHelp(); return false;">
              <img src="/static/images/chat_offline.gif" style="border: 0;" />
            </a>
          </span>
          <a href="mailto:helpdesk-dss@gb.nrao.edu" class="top_menu" title="Click here to offer suggestions or report bugs">Helpdesk</a> |
          <a href="/profile" class="top_menu" title="Click here to return to your home profile page">My Home</a> |
          <a href="/static/doc/main.html" class="top_menu" title="GBT Dynamic Scheduling System documentation">Documentation</a> |
          <a href="/accounts/logout/" class="top_menu" title="Click here to safely leave the current DSS login session">Logout</a>
        </td>
      </tr>
    </table>
    </div>
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
