<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <!-- load css before javascript! -->
    <link rel="stylesheet" href="/static/css/lib/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/lib/blueprint/print.css" type="text/css" media="print">    
    <link rel="stylesheet" href="/static/css/lib/fullcalendar/fullcalendar.css" type="text/css">
    <style type="text/css">
      .top_menu {font-size:120%}
    </style>
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/lib/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!-- <script type="text/javascript" src="/static/javascript/lib/jquery.js"> </script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"> </script>
    <!-- Wait until next trimester: <script type="text/javascript" src="http://libraryh3lp.com/presence/jid/nrao-dss/chat.libraryh3lp.com/js"></script>
    <script type="text/javascript" src="/static/javascript/help.js"></script> -->
    {% block scripts %}
    {% endblock %}
    {% block metatags %}
    {% endblock %}
</head>
{% load custom %}

<body>
  <div class="container">
    <div class="banner span-24">
      <img src="/static/images/banner.jpg" />
    <table>
      <tr>
        <td>
          <form style="display: inline; vertical-align: super;" action="/search" method="POST" title="Search investigator first/last name, project ID, short project ID, project title, and trimester" >
            <input type="text" name="search" />
            <input type="submit" value="Search" />
          </form>
        </td>
        <td style="text-align: right;">
          <span id="help" style="display: none; border-right: 10px solid white;">
            <a href="#" onclick="showHelp(); return false;" title="Click here to connect to a DSS team member in live chat">
              <img src="/static/images/chat.gif" style="border: 0;" />
            </a>
          </span>
          <span id="offlinehelp" style="display: none;">
            <a href="#" onclick="showOfflineHelp(); return false;">
              <img src="/static/images/chat_offline.gif" style="border: 0;" />
            </a>
          </span>
          <a href="http://www.facebook.com/home.php?#!/pages/Charlottesville-VA/National-Radio-Astronomy-Observatory-NRAO/22534272968?ref=ts" title="Follow the NRAO on Facebook!">
            <img src="/static/images/facebook.jpg" style="border: 0;" height=20 width=20 />
          </a> |
          <a href="http://twitter.com/grnbnktelescope" title="Follow the GBT on Twitter! Get notified when the GBT schedule updates.">
            <img src="/static/images/twitter.jpg" style="border: 0;" height=20 width=20 />
          </a> |
          {% if not requestor.isOperator %}
          <a href="/schedule/" title="This link provides access to the GBT schedule.">GBT Schedule</a> |
          {% endif %}
          <a href="#" title="DSS observing efficiencies limits graph" onClick="window.open('http://www.gb.nrao.edu/~rmaddale/Weather/DSSOverview.html', 'DSS Observing Efficiencies', 'scrollbars=yes');return true;">Weather</a> | 
          <!-- <a href="#" title="Cloud coverage graph" onClick="window.open('http://www.gb.nrao.edu/~rmaddale/Weather/CloudCoverage.html', 'Overview of Cloud Coverage', 'scrollbars=yes');return true;">Cloud Coverage</a> | -->
          <a href="mailto:helpdesk-dss@gb.nrao.edu" class="top_menu" title="Click here to offer suggestions or report bugs">Helpdesk</a> |
          {% if not requestor.isOperator %}
            <a href="/profile" class="top_menu" title="Click here to return to your home profile page">My Home</a> |
          {% endif %}
          <a href="/static/html/main.html" class="top_menu" title="GBT Dynamic Scheduling System documentation">Docs</a> |
          <a href="/accounts/logout/" class="top_menu" title="Click here to safely leave the current DSS login session">Logout</a>
        </td>
      </tr>
    </table>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-4211313-11");
    pageTracker._trackPageview();
  </script>
</body>
</html>
