<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/lib/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/lib/blueprint/print.css" type="text/css" media="print">    
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/lib/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    {% block scripts %}
    {% endblock %}
</head>
{% load custom %}

<body>
  <div class="container">
    <div class="banner span-24">
      <img src="/static/images/banner.jpg" />
    </div>
    <div style="text-align: right;">
      <form style="display: inline;" action="/search" method="POST">
        <input type="text" name="search" />
        <input type="submit" value="Search" />
      </form>
      <a href="/profile/{{u.id}}">Profile</a> | <a href="#">Logout</a>
    </div>
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
