{% extends "sesshuns/base.html" %}
{% load custom %}
{% block title %}Blackout{% endblock %}
{% block scripts %}
  <link type="text/css" href="/static/css/lib/themes/base/ui.all.css" rel="stylesheet" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#id_start").datepicker();
    $("#id_end").datepicker();
    $("#id_until").datepicker();
  });
  </script>

{% endblock %}
{% block content %}
<div>
  {% for e in form.non_field_errors %}
    <div class="error">{{e}}</div>
  {% endfor %}
</div>

<div>
<p>
<em>(Start/End/Until fields provide a JavaScript pop-up calendar; enable JavaScript in your browser if pop-ups don't appear after clicking on the field.)</em>
</p>
</div>

<div type="text" id="datepicker"></div>
<form action={{action}} method="POST">
  {% if b_id %}
  <input type="hidden" name="_method" value="PUT"/>
  {% endif %}
  <fieldset>
  <legend>Blackout for {{for_name}}</legend>
  <table>
    <tr>
      <th style="width: 50px;">Time Zone:</th>
      <td>
        {{ tz_form.timeZone }}
      </td>
    </tr>
    <tr>
      <th style="width: 50px;">Start Date:</th>
      <td>
        {{ form.start }}
        {{ form.start_time }}
        {% if form.start.errors %}
          <span class="error">{{ form.start.errors.0 }}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th >End Date:</th>
      <td>
        {{ form.end }}
        {{ form.end_time }}
        {% if form.end.errors %}
          <span class="error">{{ form.end.errors.0 }}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th >Repeats:</th>
      <td>
        {{ form.repeats }}
      </td>
    </tr>
    <tr>
      <th >Until:</th>
      <td>
        {{ form.until }}
        {{ form.until_time }}
      </td>
    </tr>
    <tr>
      <th >Description:</th>
      <td>
        {{ form.description }}
      </td>
    </tr>
  </table>
  </fieldset>
  <input type="submit" value="Save"/>&nbsp;&nbsp;
  <input type="submit" value="Cancel" onclick="window.location.href = '{{cancel}}'; return false"/>
</form>
{% endblock %}
