{% extends "sesshuns/simple.html" %}
{% load custom %}
{% block title %}MOC Failure{% endblock %}
{% block content %}
  <EMBED SRC="/static/audio/alarm.wav" AUTOSTART=True LOOP=True HIDDEN=True />
  <center>
  <h1>MOC Failure Acknowledgement</h1>
  <h2>
    Minimum operating conditions for {{p.session.project.pcode}} are not met!<br/>
    Please contact the GBT Scheduler immediately to reschedule.
  </h2>
  <form method="POST">
    <input type="button" value="Close" onclick="window.close();">
  </form>
  </center>
{% endblock %}
