{% extends "sesshuns/base.html" %}
{% load custom %}
{% block title %}Profile - {{u|display_name}} {% endblock %}
{% block content %}
      <div id="header" class="span-24 last">
        <h1>{{u|display_name}}</h1>
      </div>
      <div id="subheader" class="span-24 last">
        Add affiliation here.
        <hr />
      </div>
      <div class="span-17 colborder" id="content">
        <h3 class="loud">Projects</h3>
        <div>
          <table>
            <tr>
              <th>PCode</th>
              <th>Name</th>
            </tr>
              {% for i in u.investigators_set.all %}
                {% if not i.friend %}
                <tr>
                  <td><a href="/project/{{i.project.pcode}}">{{i.project.pcode}}</a></td>
                  <td>{{i.project.name}}</td>
                </tr>
                {% endif %}
              {% endfor %}
          </table>
          {% if isFriend %}
          <h4 class="loud">Project Friend On</h4>
          <table>
            <tr>
              <th>PCode</th>
              <th>Name</th>
            </tr>
              {% for i in u.investigators_set.all %}
                {% if i.friend %}
                <tr>
                  <td><a href="/project/{{i.project.pcode}}">{{i.project.pcode}}</a></td>
                  <td>{{i.project.name}}</td>
                </tr>
                {% endif %}
              {% endfor %}
          </table>
          {% endif %}
          <hr />
        </div>
        <div class="span-8 colborder">  
          <h4 class="loud">Dynamic Contact</h3>
          <p>{{u.contact_instructions}}</p>
          {% if authorized or requestor.isAdmin %}
          <a href="/profile/{{u.id}}/dynamic_contact/form">edit</a>
          {% endif %}
        </div>  
        <div class="span-8 last">  
          <h4 class="prepend-5">Static Contact for {{username}}</h4>  
          <table>
            <tr>
              <th>Email(s)</th>
            </tr>
              {% for e in emails %}
                <tr>
                  <td>{{e}}</td>
                </tr>
              {% endfor %}
          </table>
          <table>
            <tr>
              <th>Phone(s)</th>
            </tr>
              {% for p in phones %}
                <tr>
                  <td>{{p}}</td>
                </tr>
              {% endfor %}
          </table>
          <table>
            <tr>
              <th>Postal Address(es)</th>
            </tr>
              {% for pt in postals %}
                <tr>
                  <td>{{pt}}</td>
                </tr>
              {% endfor %}
          </table>

        </div>
        <hr />
        <div>
          <h3 class="loud">Blackout Dates</h3>
          <table>
            <tr>
              <th>Begin</th>
              <th>End</th>
              <th>Time Zone</th>
              <th>Repeat</th>
              <th>Until</th>
              <th>Description</th>
            </tr>
            {% for b in u.blackout_set.all %}
            <tr>
              <td>{{b.start}}</td>
              <td>{{b.end}}</td>
              <td>{{b.tz.timeZone}}</td>
              <td>{{b.repeat.repeat}}</td>
              <td>{{b.until|pretty_none}}</td>
              <td>{{b.description}}</td>
            {% if authorized or requestor.isAdmin %}
              <td>
                <a href="/profile/{{u.id}}/blackout/form?_method=PUT&id={{b.id}}">edit</a> |
                <a href="/profile/{{u.id}}/blackout?_method=DELETE&id={{b.id}}">delete</a>
              </td>
            {% endif %}
            </tr>
            {% endfor %}
          </table>
          {% if authorized or requestor.isAdmin %}
          <a href="/profile/{{u.id}}/blackout/form">add</a>
          {% endif %}
          <br/>
          <br/>
          <br/>
        </div>
      </div>
      <div class="span-6 last" id="sidebar">
        <div id="periods">
          <h3 class="caps">Upcoming Observations</h3>
          <div class="box">
            List of telescope periods.
          </div>
        </div>
      </div>
{% endblock %}
