{% extends "sesshuns/base.html" %}
{% load custom %}
{% block title %} {{p.pcode}} {% endblock %}
{% block scripts %}
    <script type="text/javascript">
      var event_url = "/project/{{p.pcode}}/events?tz={{tz}}"; // For calendar
      var unavailable_url = "/project/{{p.pcode}}/unavailable"; // For calendar
    </script>
    <!-- <script type="text/javascript" src="/static/javascript/lib/jquery.js"></script> -->
    <script type="text/javascript" src="/static/javascript/lib/fullcalendar.js"></script>
    <script type="text/javascript" src="/static/javascript/project.js"></script>
    <style type="text/css">
      .grey_highlight {background-color:#EEEEEE; width:100%}
      .checkable {cursor:pointer}
      td {white-space:nowrap; vertical-align: text-top}
      th {white-space:nowrap}
    </style>
{% endblock %}
{% block content %}
      <div id="header" class="span-24 last">
        <h1>{{p.pcode}}</h1>
      </div>
      <div id="subheader" class="span-24 last">
        <h3 class="alt">{{p.name}}</h3>
        <hr />
      </div>
      <div class="span-19 colborder" id="content">
        <h3 class="grey_highlight loud">Project Sessions</h3>
          <table>
            <tr>
              <th style="{width: 100px;}">Name</th>
              <th title="The target coordinate systems.  The target RA(J200) or latitude.  A '*' indicates that the position of this target is updated each day by the DSS.  The target declination(J200) or longitude. A '*' indicates that the position of this target is updated each day by the DSS.">Coordinates</th>
              <th title="The target frequency in GHz.">Freq</th>
              <th title="The required receiver(s).">Rcvr</th>
              <th title="The billed and the allotted time in hours.">Time billed</th>
              <th title="The requested minimum and maximum duration (in hours) of a telescope period.  To change these values, send an email to the helpdesk.">Min/Max Dur.
              </th>
              <th title="The classified observing type.">Type</th>
              <th title="The assigned grade.">Gr</th>
              <th title="Select this box to enable the session.">Enabled</th>
              <th>Other Parameters</th>
            {% for s in sess %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>
              {% if s.status.isNotSchedulable %}
                <p style="text-decoration:line-through; cursor: pointer" title="Enabled: {{s.status.enabled}} Authorized: {{s.status.authorized}} Complete: {{s.status.complete}}">
              {% else %}
                <p>
              {% endif %}
                  {{s.name}}
              </p></td>
              <td>
                {% ifequal s|target_system 'Galactic' %}Lat{% else %}RA{% endifequal %}: {{s|target_horz}}<br/>
                {% ifequal s|target_system 'Galactic' %}Long{% else %}Dec{% endifequal %}: {{s|target_vert}}<br/>
              </td>
              <td>{{s.frequency}}</td>
              <td>{{s.receiver_list_simple}}</td>
              <td>{{s|getTimeBilled}} / {{s.allotment.total_time}}</td>
              <td>{{s.min_duration}} - {{s.max_duration}}</td>
              <td>{{s.observing_type.type}}</td>
              <td>{{s|getGrade}}</td>
              <td>
                  {% if s.status.enabled %}
                  <img class="checkable" 
                       checked="true" 
                       href="/project/{{p.pcode}}/session/{{s.id}}/enable" 
                       src="/static/images/checked.png" />
                  {% else %}
                  <img class="checkable" 
                       checked="false" 
                       href="/project/{{p.pcode}}/session/{{s.id}}/enable" 
                       src="/static/images/unchecked.png" />
                  {% endif %}
              </td>
              <td>
              {% if s.transit %}
              <span title="Session RA must pass through transit">Transit</span><br/>
              {% endif %}
              {% if s.RfiNight %}
              <span title="Require night-time observing for RFI avoidance.">RFI-Night</span><br/>
              {% endif %}
              {% if s.PtcsNight %}
              <span title="Require observing during PTCS definition of night.">PTCS-Night</span><br/>
              {% endif %}
              {% if s.get_min_eff_tsys_factor %}
              <span title="Scaling factor applied to min effective Tsys to enable observations in degraded atmospheric conditions.">Xi: </span>
                  {{s.get_min_eff_tsys_factor}}<br/>
              {% endif %}
              {% if s.get_elevation_limit %}
              <span title="Minimum elevation (degrees) considered for scheduling by the DSS.  Setting this value can be used to enable observations at low elevations.  You are seeing this column because you chose to override the DSS default. ">Min Elev</span>
                  {{s.get_elevation_limit}}<br/>
              {% endif %}
              {% if s.get_tracking_error_threshold_param %}
              <span title="Tracking Error Threshold">Tracking Error Threshold</span>
                  {{s.get_tracking_error_threshold}}<br/>
              {% endif %}
              {% if s.get_source_size %}
                <span title="Source Size in units of arcsec">Source Size</span>
                  {{s.get_source_size}}<br/>
              {% endif %}
              {% if s.good_atmospheric_stability %}
                <span title="Use good atmospheric_stability">Require Good Atmospheric Stability</span><br/>
              {% endif %}
              {% if s.keyhole %}
                <span title="Applies the keyhole limit to this session.">Apply Keyhole Limit</span><br/>
              {% endif %}
              {% if s.irradiance %}
              <span title="Applies the irradiance threshold to this session.">Irradiance Threshold: </span>{{s.irradiance}}<br/>
              {% endif %}
              </td>
            </tr>
              
            {% endfor %}
          </table>

        <h3 class="grey_highlight loud">Project Calendar ({{tz}})</h3>
          <p align="center">
            ** Any days shaded in <span style = "background-color: #999999">gray</span> in the calendar indicate that the project cannot be scheduled on that day. **<br/>
            <span style="background-color: #C1D9EC">observations</span>,
            <span style="background-color: #99CCBB">blackouts</span>,
            <span style="background-color: #EEAABB">reservations</span>,
            <span style="background-color: #CCBBDD">windows</span>,
            <span style="background-color: #FF6666">semester boundary</span>
          </p>
          <div id='calendar'>
          </div>
          <center><em>If you can't see a calendar, enable JavaScript in your browser.</em></center><br/>
          <p></p>
        <h3 class="grey_highlight loud">Team Members</h3>
          <table>
            <tr>
              <th title="Order in which observers will be contacted by GBT operations">Call Order</th>
              <th>Name</th>
              <th>Email(s)</th>
              <th>PI</th>
              <th>Contact</th>
              <th title="Trained for remote observing">Remote</th>
              <th>Observer(s)</th>
            </tr>
            {% for i in v %}
            <tr>
              <td>
                {% if i.observer %}
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/priority/up"><img src="/static/images/up_arr.png" /></a>
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/priority/down"><img src="/static/images/dwn_arr.png" /></a>
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
              <td><a href="/profile/{{i.user.id}}">{{i.user|display_name}}</a></td>
              <td>
                {{i.user|get_email}}<br/>
              </td>
              <td>
                  {% if i.principal_investigator %}Yes{% endif %}
              </td>
              <td>
                  {% if i.principal_contact %}Yes{% endif %}
              </td>
              <td>
                  {% if i.user.sanctioned %}Yes{% endif %}
              </td>
              <td>
                  {% if i.observer %}
                  <!--
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/observer"><img src="/static/images/checked.png" /></a>
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/observer"><img src="/static/images/unchecked.png" /></a>
                  -->
                  <img class="checkable" 
                       checked="true" 
                       href="/project/{{p.pcode}}/investigator/{{i.id}}/observer"
                       src="/static/images/checked.png" />
                  {% else %}
                  <img class="checkable" 
                       checked="false" 
                       href="/project/{{p.pcode}}/investigator/{{i.id}}/observer"
                       src="/static/images/unchecked.png" />
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>

        <h3 class="grey_highlight loud">Project Friends</h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Email(s)</th>
              <th title="Observing will not take place unless this Friend is available.">Required</th>
            </tr>
            {% for f in p.friend_set.all %}
            <tr>
              <td><a href="/profile/{{f.user.id}}">{{f.user|display_name}}</a></td>
              <td>
                {{f.user|get_email}}<br/>
              </td>
              <td>
                  {% if f.required %}
                  <img class="checkable" 
                       checked="true" 
                       href="/project/{{p.pcode}}/friend/{{f.id}}/required" 
                       src="/static/images/checked.png" />
                  {% else %}
                  <img class="checkable" 
                       checked="false" 
                       href="/project/{{p.pcode}}/friend/{{f.id}}/required" 
                       src="/static/images/unchecked.png" />
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>


        <h3 class="grey_highlight loud">Observer Blackouts ({{tz}})</h3>
          <table>
            <tr>
              <th>Observer</th>
              <th>Begin</th>
              <th>End</th>
              <th>Repeat</th>
              <th>Until</th>
              <th>Description</th>
            </tr>
              {% for b in observerBlackouts %}
                <tr>
                  <td>
                    <a href="/profile/{{b.user.id}}">{{b.user|display_name}}</a>
                  </td>
                  <td>{{b.start_date|date:'j M Y H:i'}}</td>
                  <td>{{b.end_date|date:'j M Y H:i'}}</td>
                  <td>{{b.repeat.repeat}}</td>
                  {% if b.until %}
                  <td>{{b.until|date:'j M Y H:i'}}</td>
                  {% else %}
                  <td>{{b.until|pretty_none}}</td>
                  {% endif %}
                  <td>{{b.description}}</td>
                </tr>
              {% endfor %}
          </table>

           {% if p.blackouts %}
           <div>
           <h3 class="grey_highlight loud">Project Blackouts ({{tz}})</h3>
           <table>
             <tr>
               <th>Begin</th>
               <th>End</th>
               <th>Repeat</th>
               <th>Until</th>
               <th>Description</th>
             </tr>
             {% for b in projectBlackouts %}
             <tr>
               <td>{{b.start_date|date:'j M Y H:i'}}</td>
               <td>{{b.end_date|date:'j M Y H:i'}}</td>
               <td>{{b.repeat.repeat}}</td>
               {% if b.until %}
               <td>{{b.until|date:'j M Y H:i'}}</td>
               {% else %}
               <td>{{b.until|pretty_none}}</td>
               {% endif %}
               <td>{{b.description}}</td>
               <td>
                 <a href="/project/{{p.pcode}}/blackout/{{b.id}}/">edit</a> |
                 <a href="/project/{{p.pcode}}/blackout/{{b.id}}/?_method=DELETE">delete</a>
               </td>
             </tr>
             {% endfor %}
           </table>
           <a href="/project/{{p.pcode}}/blackout/">add</a>
           <br/>
           <br/>
           <br/>
         </div>
         {% endif %}


        <h3 class="grey_highlight loud">Telescope Periods Completed ({{tz}})</h3>
          <table>
            <tr>
              <th>Session</th>
              <th title="Period Start Time ({{tz}})">Start Time</th>
              <th title="How long the Period lasts, in hours.">Duration</th>
              <th>Billed Hours</th>
            </tr>
              {% for per in periods %}
                <tr>
                  <td>{{per.session.name}}</td>
                  <td>{{per.start|date_no_secs}}</td>
                  <td>{{per.duration|hrs2sex}}</td>
                  <td>{{per.accounting.time_billed|hrs2sex}}</td>
                </tr>
              {% endfor %}
          </table>
        {% if p.get_active_windows %}
          <h3 class="grey_highlight loud">Upcoming Windows</h3>
            <table>
              <tr>
                <th>Session</th>
                <th>Window Start Date</th>
                <th>Window Last Date</th>
                <th>Time (Hrs)</th>
                <th>Billed (Hrs)</th>
                <th>Complete?</th>
                <!--<th title="Start time of Period ({{tz}})">Period Start Time</th>
                <th title="How long the Period lasts, in hours.">Period Duration</th> -->
              </tr>
                {% for window in windows %}
                  <tr>
                    <td>{{window.session.name}}</td>
                    <!-- don't print these dates if we'll print the others -->
                    {% if window.contigious %}
                      <td>{{window.start_date}}</td>
                      <td>{{window.last_date}}</td> 
                    {% else %}
                      <td></td>
                      <td></td>
                    {% endif %}
                    <td>{{window.total_time}}</td>
                    <td>{{window.time_billed}}</td>
                    <td>{% if window.complete %}Yes{% endif %}</td> 
                    
                 </tr> 
                    <!-- if it uses more then one range, we need to print them -->
                    {% if not window.contigious %}
                    {% for wr in window.ranges %}
                    <tr>
                      <td></td>
                      <td>{{wr.start}}</td>
                      <td>{{wr.last_date}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    {% if window.periods %}
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Period Start</th>
                      <th>Duration (Hrs)</th>
                      <th>Billed (Hrs)</th>
                    </tr>
                    {% endif %}
                    {% for p in window.periods %}
                    <tr>
                      <td></td>
                      <td></td>
                      <td>{{p.start|date_no_secs}}</td>
                      <td>{{p.duration|hrs2sex}}</td>
                      <td>{{p.time_billed|hrs2sex}}</td>
                    </tr>
                    {% endfor %}
                    <!-- if we used more then one row, use a separator -->
                    {% if window|multipleRowWindow %}
                    <tr height = "1px">
                      <td colspan = 6 style="border-top:solid 1px #000"></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}

        {% if electivePeriods %}
          <h3 class="grey_highlight loud">Opportunities ({{tz}})</h3>
            <table>
              <tr>
                <th>Session</th>
                <th>Complete?</th>
              </tr>
              {% for e in electivePeriods %}
              <tr>
                <td>{{e.elective.session.name}}</td>
                {% if e.elective.complete %}
                <td>Yes</td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>  
              {% if e.periods %}
              <tr>
                <th></th>
                <th>Period Start</th>
                <th>Duration (Hrs)</th>
                <th>Billed (Hrs)</th>
                <th>Scheduled?</th>
              </tr>
              {% endif %}
              {% for p in e.periods %}
              <tr>
                <td></td>
                <td>{{p.start|date_no_secs}}</td>
                <td>{{p.duration|hrs2sex}}</td>
                <td>{{p.time_billed|hrs2sex}}</td>
                <td>{{p.scheduled}}</td>
              </tr>
              {% endfor %}
              {% endfor %}
            </table>
         {% endif %}   
        <h3 class="grey_highlight loud">Project Notes (<a href="/project/{{p.pcode}}/notes">edit</a>)</h3>
          <p>
          {{p.notes|pretty_none|escape|linebreaks}}
          </p>
        {% if requestor.isAdmin %}
        <h3 class="grey_highlight loud">Scheduler's Notes (<a href="/project/{{p.pcode}}/schedulers_notes">edit</a>)</h3>
          <p>
          {{p.schedulers_notes|pretty_none|escape|linebreaks}}
          </p>
        {% endif %}
      </div>
      <div class="span-4 last" id="sidebar">
        <div id="observer_info">
          <h3 class="caps">Information</h3>
          <div class="box">
            <dl>
              {% if p.has_friends %}
                <dt>Friends</dt>
                {% for friend in p.friend_set.all %}
                    <dd><a href="mailto:{{friend.user|get_email}}">{{friend|display_friend_name}}</a></dd>
                {% endfor %}    
              {% endif %}
              <dt>Trimester</dt>
              <dd>{{p.semester.semester}}</dd>
              <dt>Thesis?</dt>
              <dd>{% if p.thesis %}Yes{% else %}No{% endif %}</dd>
              <dt>Total Time (Hrs)</dt>
              <dd>{{ p|getSumTotalTime }}</dd>
              <dt>Time Billed (Hrs)</dt>
              <dd>{{ p|getTimeBilled }}</dd>
              <dt>Complete?</dt>
              {% if p.complete %}
                <dd style="color:red">Yes</dd>
              {% else %} 
                <dd>No</dd>
              {% endif %}
              <!-- <dd>{% if p.complete %}Yes{% else %}No{% endif %}</dd> -->
              <dt>Scheduling Alerts</dt>
              <ul>
              <dd style="color:red">{% if not p.has_sanctioned_observers %}<li>No trained observers</li>{% endif %}</dd>
              <dd style="color:red">{% if not p.has_schedulable_sessions %}<li>No schedulable sessions</li>{% endif %}</dd>
              {% for s in p.sesshun_set.all %}
                <dd style="color:red">{% if not s.status.authorized %}<li>{{s.name}} not authorized</li>{% endif %}</dd>
              {% endfor %}
              </ul>
              <dt>Receiver(s) Unavailable:</dt>
              <dd><ul>{% for start, end in rcvr_blkouts %}<li>{% if end %}{{start}} to {{end}}<br/>{% else %}{{start}} onward</li>{% endif %}</li>{% endfor %}</ul></dd>
            </dl>
          </div>
        </div>
        <div id="reservation">
          <h3 class="caps">Upcoming Reservations</h3>
          <div class="box">
            <dl>
            {% for user, reserves in r.items %}
              <dt> {{user.first_name}} {{user.last_name}}</dt>
              <dd>
                <table>
                  <tr>
                    <th>check-in</th>
                    <th>check-out</th>
                  </tr>
                    {% for r in reserves %}
                      <tr>
                        <td title="{{r.0|date:'m/d/Y'}}">
                          {{ r.0|date:"D, M d" }}
                        </td>
                        <td title="{{r.1|date:'m/d/Y'}}">
                          {{ r.1|date:"D, M d" }}
                        </td>
                      </tr>
                    {% endfor %}
                </table>
              </dd>
            {% endfor %}
            </dl>
          </div>
        </div>

        <div id="observation">
          <h3 class="caps">Upcoming Observations</h3>
          <div class="box">
            <ul>
            {% for pd in upcomingPeriods %}
              <li title="{{pd.session.name}}: {{pd.start|date:'Y-m-d H:i'}} {{tz}} for {{pd.duration|hrs2sex}} hrs">
                    {{pd.session.name}}: {{pd.start|date:"D, M d H:i"}} {{tz}} for {{pd.duration|hrs2sex}} hrs
                    </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      
      </div>
{% endblock %}
