{% extends "sesshuns/base.html" %}
{% load custom %}
{% block title %} {{p.pcode}} {% endblock %}
{% block scripts %}
    <script type="text/javascript">
      var event_url = "/project/{{p.pcode}}/events"; // For calendar
      var unavailable_url = "/project/{{p.pcode}}/unavailable"; // For calendar
    </script>
    <!-- <script type="text/javascript" src="/static/javascript/lib/jquery.js"></script> -->
    <script type="text/javascript" src="/static/javascript/lib/fullcalendar.js"></script>
    <script type="text/javascript" src="/static/javascript/project.js"></script>
    <style type="text/css">
      .grey_highlight {background-color:#EEEEEE; width:100%}
    </style>
{% endblock %}
{% block content %}
      <div id="header" class="span-24 last">
        <h1>{{p.pcode}}</h1>
      </div>
      <div id="subheader" class="span-24 last">
        <h3 class="alt">{{p.name}}</h3>
        <hr />
      </div>
      <div class="span-19 colborder" id="content">
        <h3 class="grey_highlight loud">Project Sessions</h3>
          <table>
            <tr>
              <th style="{width: 100px;}">Name</th>
              <th title="The target right ascension in J2000.">RA</th>
              <th title="The target declination in J2000.">Dec</th>
              <th title="The target frequency in GHz.">Freq</th>
              <th title="The required receiver(s).">Rcvr</th>
              <th title="The billed and the allotted time in hours.">Time billed</th>
              <th title="The requested minimum and maximum duration (in hours) of a telescope period.  To change these values, send an email to the helpdesk.">Min/Max Durations</th>
              <th title="The classified observing type.">Type</th>
              <th title="Session is authorized to observe by GBT staff.">Authorized</th>
              <th title="Select this box to enable the session.">Enabled</th>
              {% if p.transit %}
              <th title="Session RA must pass through transit">Transit</th>
              {% endif %}
              {% if p.nighttime %}
              <th title="Require night-time observing for RFI avoidance.">RFI/Night</th>
              {% endif %}
              {% if p.anyCompleteSessions %}
              <th title="Session has been marked as complete.">Complete</th>
              {% endif %}
              {% if p.anyNonOneXiSessions %}
              <th title="Scaling factor applied to min effective Tsys to enable observations in degraded atmospheric conditions.">Xi</th>
              {% endif %}
              {% if p.anyElevationLimits %}
              <th title="Minimum elevation (degrees) considered for scheduling by the DSS.  Setting this value can be used to enable observations at low elevations.  You are seeing this column because you chose to override the DSS default. ">Min Elev</th>
              {% endif %}
            {% for s in sess %}
            <tr>
              <td>{{s.name}}</td>
              <td>{{s|target_horz}}</td>
              <td>{{s|target_vert}}</td>
              <td>{{s.frequency}}</td>
              <td>{{s.receiver_list_simple}}</td>
              <td>{{s.getTimeBilled}} / {{s.allotment.total_time}}</td>
              <td>{{s.min_duration}} - {{s.max_duration}}</td>
              <td>{{s.observing_type.type}}</td>
              <td>{% if s.status.authorized %}Yes{% endif %}</td>
              <td>
                  {% if s.status.enabled %}
                  <a href="/project/{{p.pcode}}/session/{{s.name}}/enable"><img src="/static/images/checked.png" /></a>
                  {% else %}
                  <a href="/project/{{p.pcode}}/session/{{s.name}}/enable"><img src="/static/images/unchecked.png" /></a>
                  {% endif %}
              </td>
              {% if p.transit %}
              <td>{% if s.transit %}Yes{% endif %}</td>
              {% endif %}
              {% if p.nighttime %}
              <td>{% if s.nighttime %}Yes{% endif %}</td>
              {% endif %}
              {% if p.anyCompleteSessions %}
              <td>{% if s.status.complete %}Yes{% endif %}</td>
              {% endif %}
              {% if p.anyNonOneXiSessions %}
                {% if s.get_min_eff_tsys_factor %}
                  <td>{{s.get_min_eff_tsys_factor}}</td>
                {% else %}
                  <td>1.0</td>
                {% endif %}
              {% endif %}
              {% if p.anyElevationLimits %}
                {% if s.get_elevation_limit %}
                  <td>{{s.get_elevation_limit}}</td>
                {% else %}
                  <td></td>
                {% endif %}
              {% endif %}
              
            <tr>
            {% endfor %}
          </table>

        <h3 class="grey_highlight loud">Project Calendar (UTC)</h3>
          <p align="center">** Any days shaded in <span style = "background-color: #999999">gray</span> in the calendar indicate that the project cannot be scheduled on that day. **</p>
          <div id='calendar'>
          </div>
          <p></p>
        <h3 class="grey_highlight loud">Team Members</h3>
          <table>
            <tr>
              <th title="Order in which observers will be contacted by GBT operations">Call Order</th>
              <th>Name</th>
              <th>Email(s)</th>
              <th>PI</th>
              <th>Contact</th>
              <th title="Trained for remote observing">Remote</th>
              <th>Observer(s)</th>
            </tr>
            {% for i in v %}
            <tr>
              <td>
                {% if i.observer %}
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/priority/up"><img src="/static/images/up_arr.png" /></a>
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/priority/down"><img src="/static/images/dwn_arr.png" /></a>
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
              <td><a href="/profile/{{i.user.id}}">{{i.user|display_name}}</a></td>
              <td>
                {{i.user|get_email}}<br/>
              </td>
              <td>
                  {% if i.principal_investigator %}Yes{% endif %}
              </td>
              <td>
                  {% if i.principal_contact %}Yes{% endif %}
              </td>
              <td>
                  {% if i.user.sanctioned %}Yes{% endif %}
              </td>
              <td>
                  {% if i.observer %}
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/observer"><img src="/static/images/checked.png" /></a>
                  {% else %}
                  <a href="/project/{{p.pcode}}/investigator/{{i.id}}/observer"><img src="/static/images/unchecked.png" /></a>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        <h3 class="grey_highlight loud">Observer Blackouts (UTC)</h3>
          <table>
            <tr>
              <th>Observer</th>
              <th>Begin</th>
              <th>End</th>
              <th>Repeat</th>
              <th>Until</th>
              <th>Description</th>
            </tr>
            {% for i in v %}
              {% for b in i.projectBlackouts %}
                <tr>
                  <td>
                    <a href="/profile/{{i.user.id}}">{{i.user|display_name}}</a>
                  </td>
                  <td>{{b.start_date|date:'j M Y H:i'}}</td>
                  <td>{{b.end_date|date:'j M Y H:i'}}</td>
                  <td>{{b.repeat.repeat}}</td>
                  {% if b.until %}
                  <td>{{b.until|date:'j M Y H:i'}}</td>
                  {% else %}
                  <td>{{b.until|pretty_none}}</td>
                  {% endif %}
                  <td>{{b.description}}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </table>
        <h3 class="grey_highlight loud">Telescope Periods Completed</h3>
          <table>
            <tr>
              <th>Session</th>
              <th title="Period Start Time (UTC)">Start Time</th>
              <th title="How long the Period lasts, in hours.">Duration</th>
              <th>Billed Hours</th>
            </tr>
              {% for per in p.get_observed_periods %}
                <tr>
                  <td>{{per.session.name}}</td>
                  <td>{{per.start|date_no_secs}}</td>
                  <td>{{per.duration|hrs2sex}}</td>
                  <td>{{per.accounting.time_billed|hrs2sex}}</td>
                </tr>
              {% endfor %}
          </table>
        {% if p.get_active_windows %}
          <h3 class="grey_highlight loud">Upcoming Windows</h3>
            <table>
              <tr>
                <th>Session</th>
                <th>Window Start Date</th>
                <th>Window End Date</th>
                <th title="Start time of Period (UTC)">Period Start Time</th>
                <th title="How long the Period lasts, in hours.">Period Duration</th>
              </tr>
                {% for window in p.get_active_windows %}
                  <tr>
                    <td>{{window.session.name}}</td>
                    <td>{{window.start_date}}</td>
                    <td>{{window.start_date|end_date:window.duration}}</td>
                    {% if window.is_scheduled_or_completed %}
                      <td>{{window.is_scheduled_or_completed.start|date_no_secs}}</td>
                      <td>{{window.is_scheduled_or_completed.duration|hrs2sex}}</td>
                    {% else %}
                      <td></td>
                      <td></td>
                    {% endif %}
                  </tr>
                {% endfor %}
            </table>
        {% endif %}
        <h3 class="grey_highlight loud">Project Notes (<a href="/project/{{p.pcode}}/notes/form">edit</a>)</h3>
          <p>
          {{p.notes|pretty_none|escape|linebreaks}}
          </p>
        {% if requestor.isAdmin %}
        <h3 class="grey_highlight loud">Scheduler's Notes (<a href="/project/{{p.pcode}}/schedulers_notes/form">edit</a>)</h3>
          <p>
          {{p.schedulers_notes|pretty_none|escape|linebreaks}}
          </p>
        {% endif %}
      </div>
      <div class="span-4 last" id="sidebar">
        <div id="observer_info">
          <h3 class="caps">Information</h3>
          <div class="box">
            <dl>
              {% if p.friend %}
                <dt>Friend</dt>
                <dd><a href="mailto:{{p.friend|get_email}}">{{p.friend|display_name}}</a></dd>
              {% endif %}
              <dt>Trimester</dt>
              <dd>{{p.semester.semester}}</dd>
              <dt>Thesis?</dt>
              <dd>{% if p.thesis %}Yes{% else %}No{% endif %}</dd>
              <dt>Total Time (Hrs)</dt>
              <dd>{{ p.getSumTotalTime }}</dd>
              <dt>Time Billed (Hrs)</dt>
              <dd>{{ p.getTimeBilled }}</dd>
              <dt>Complete?</dt>
              {% if p.complete %}
                <dd style="color:red">Yes</dd>
              {% else %} 
                <dd>No</dd>
              {% endif %}
              <!-- <dd>{% if p.complete %}Yes{% else %}No{% endif %}</dd> -->
              <dt>Scheduling Alerts</dt>
              <ul>
              <dd style="color:red">{% if not p.has_sanctioned_observers %}<li>No trained observers</li>{% endif %}</dd>
              <dd style="color:red">{% if not p.has_schedulable_sessions %}<li>No schedulable sessions</li>{% endif %}</dd>
              {% for s in p.sesshun_set.all %}
                <dd style="color:red">{% if not s.status.authorized %}<li>{{s.name}} not authorized</li>{% endif %}</dd>
              {% endfor %}
              </ul>
              <dt>Receiver(s) Unavailable:</dt>
              <dd><ul>{% for start, end in rcvr_blkouts %}<li>{% if end %}{{start}} to {{end}}<br/>{% else %}{{start}} onward</li>{% endif %}</li>{% endfor %}</ul></dd>
            </dl>
          </div>
        </div>
        <div id="reservation">
          <h3 class="caps">Upcoming Reservations</h3>
          <div class="box">
            <dl>
            {% for user, reserves in r.items %}
              <dt> {{user.first_name}} {{user.last_name}}</dt>
              <dd>
                <table>
                  <tr>
                    <th>check-in</th>
                    <th>check-out</th>
                  </tr>
                    {% for r in reserves %}
                      <tr>
                        <td title="{{r.0|date:'m/d/Y'}}">
                          {{ r.0|date:"D, M d" }}
                        </td>
                        <td title="{{r.1|date:'m/d/Y'}}">
                          {{ r.1|date:"D, M d" }}
                        </td>
                      </tr>
                    {% endfor %}
                </table>
              </dd>
            {% endfor %}
            </dl>
          </div>
        </div>

        <div id="observation">
          <h3 class="caps">Upcoming Observations</h3>
          <div class="box">
            <ul>
            {% for pd in p.getUpcomingPeriods %}
              <li title="{{pd.session.name}}: {{pd.start|date:'Y-m-d H:i'}} UTC for {{pd.duration|hrs2sex}} hrs">
                    {{pd.session.name}}: {{pd.start|date:"D, M d H:i"}} UTC for {{pd.duration|hrs2sex}} hrs
                    </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      
      </div>
{% endblock %}
