<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}GBT Schedule{% endblock %}</title>
    <!-- load css before javascript! -->
    <link rel="stylesheet" href="/static/css/lib/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/lib/blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="/static/css/lib/fullcalendar/fullcalendar.css" type="text/css">
    <style type="text/css" media="print">
      body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:7pt;}
    </style>
    <style type="text/css">
      .top_menu {font-size:120%}
    </style>
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/lib/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!-- <script type="text/javascript" src="/static/javascript/lib/jquery.js"> </script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"> </script>
    <!-- Wait until next semester: <script type="text/javascript" src="http://libraryh3lp.com/presence/jid/nrao-dss/chat.libraryh3lp.com/js"></script>
    <script type="text/javascript" src="/static/javascript/help.js"></script> -->

{% block scripts %}
  <link type="text/css" href="/static/css/lib/themes/base/ui.all.css" rel="stylesheet" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#id_start").datepicker();
  });
  </script>
    <style type="text/css">
      .day_header {background-color:#c3d9ff}
      .project_type {width:1%; text-align:center}
      .type_test {background-color:#87CEFA}
      .type_astronomy {background-color:#EEEEEE}
      .type_maintenance {background-color:#98FB98}
    </style>
</head>
{% load custom %}

{% endblock %}
{% block content %}

  <div class="container">
    <div class="banner span-24">
      <img src="/static/images/banner.jpg" />
    <table>
{% if is_logged_in %}
      <tr>
        <td>
          <form style="display: inline; vertical-align: super;" action="/search" method="POST" title="Search investigator first/last name, project ID, short project ID, project title, and semester" >
            <input type="text" name="search" />
            <input type="submit" value="Search" />
          </form>
          <a href="http://twitter.com/grnbnktelescope" title="Follow us on Twitter! Get notified when the GBT schedule updates.">
            <img src="/static/images/twitter.jpg" style="border: 0;" height=20 width=20 />
          </a>
          {% if not requestor.isOperator %}
          <a href="/projects/ical" title="This link provides access to DSS events in the 'iCalendar' format.  To use this feature, right-click the 'ICAL' icon and select 'Copy Link Location'.  Then paste the link into your favorite iCalendar application.">
            <img src="/static/images/ical.gif" style="border: 0;" />
          </a>
          <a href="/schedule/" title="This link provides access to the full GBT schedule (requires logon).">GBT Schedule</a>
          {% endif %}
        </td>
        <td style="text-align: right;">
          <span id="help" style="display: none; border-right: 10px solid white;">
            <a href="#" onclick="showHelp(); return false;" title="Click here to connect to a DSS team member in live chat">
              <img src="/static/images/chat.gif" style="border: 0;" />
            </a>
          </span>
          <span id="offlinehelp" style="display: none;">
            <a href="#" onclick="showOfflineHelp(); return false;">
              <img src="/static/images/chat_offline.gif" style="border: 0;" />
            </a>
          </span>
          <a href="mailto:helpdesk-dss@gb.nrao.edu" class="top_menu" title="Click here to offer suggestions or report bugs">Helpdesk</a> |
          {% if not requestor.isOperator %}
            <a href="/profile" class="top_menu" title="Click here to return to your home profile page">My Home</a> |
          {% else %}
            <a href="/schedule/" title="Return to the schedule page">GBT Schedule</a> |
          {% endif %}
          <a href="/static/html/main.html" class="top_menu" title="GBT Dynamic Scheduling System documentation">Docs</a> |
          <a href="/accounts/logout/" class="top_menu" title="Click here to safely leave the current DSS login session">Logout</a>
        </td>
      </tr>
{% else %}
      <tr>
        <td style="text-align: left;">
          <a href="http://twitter.com/grnbnktelescope" title="Follow us on Twitter! Get notified when the GBT schedule updates.">
            <img src="/static/images/twitter.jpg" style="border: 0;" height=20 width=20 />
          </a>
          <a href="/projects/ical" title="This link provides access to DSS events in the 'iCalendar' format.  To use this feature, right-click the 'ICAL' icon and select 'Copy Link Location'.  Then paste the link into your favorite iCalendar application.">
              <img src="/static/images/ical.gif" style="border: 0;" />
            </a>
        </td>
        <td style="text-align: right;">
          <span id="help" style="display: none; border-right: 10px solid white;">
            <a href="#" onclick="showHelp(); return false;" title="Click here to connect to a DSS team member in live chat">
              <img src="/static/images/chat.gif" style="border: 0;" />
            </a>
          </span>
          <span id="offlinehelp" style="display: none;">
            <a href="#" onclick="showOfflineHelp(); return false;">
              <img src="/static/images/chat_offline.gif" style="border: 0;" />
            </a>
          </span>
          <a href="mailto:helpdesk-dss@gb.nrao.edu" class="top_menu" title="Click here to offer suggestions or report bugs">Helpdesk</a> |
          <a href="/static/html/main.html" class="top_menu" title="GBT Dynamic Scheduling System documentation">Docs</a> |
          <a href="/profile" class="top_menu" title="Click here login to the DSS">DSS Login</a>
        </td>
      </tr>
{% endif %}
      </table>
    </div>
  </div>

  <h1 class="loud"><center>GBT Schedule</center></h1>
  <center>
  <p>{{pubdate|date:"l F d, Y  H:i T"}}<p>

  <form action="/schedule/public" method="POST">
  <p>
    <label for="id_start">Start:</label>
    <input type="text" name="start" id="id_start" title="Click once for calendar, click twice for previous entries" value="{{start|date:'m/d/Y'}}"/>
    <label for="id_days">Days:</label>
    <select name="days" id="id_days">
      {% for d in day_list %}
        {% ifequal d days %}
          <option selected="selected">{{d}}</option>
        {% else %}
          <option>{{d}}</option>
        {% endifequal %}
      {% endfor %}
    </select> &nbsp;
    <label for="id_tz">Time Zone:</label>
    <select name="tz" id="id_tz">
      {% for tz in tz_list %}
        {% ifequal tz timezone %}
          <option selected="selected">{{tz}}</option>
        {% else %}
          <option>{{tz}}</option>
        {% endifequal %}
      {% endfor %}
    </select>&nbsp;
    <input type="submit" value="View Schedule"/>
  </p>
  </form>
  </center>
  <hr />
  <p align="center">** The project ID links in the below schedule will bring the user to the appropriate page in the <a href="http://www.gb.nrao.edu/dss/">DSS</a> (login required)**</p>
  <table>

    {#################################################################}
    {# Loop through for each day in the calendar.                    #}
    {#################################################################}

    {% for day, events in calendar %}
    <tr class="day_header">
      <th title="Start and End times for the start day (timezone). '+' indicates that the period continues on in an undisplayed date.">{{day|date:"Y-m-d"}} ({{timezone}})</th>
      <th title="Project Type: 'A' : Astronomy, 'T' : Test, 'M' : Maintenance">Type</th>
      <th>Project ID</th>
      <th>Project Title</th>
      <th title="Primary Investigator.  To list the observers for this project, click on the Project ID">PI</th>
      <th>Friend</th>
      <th title="Receivers (Names and frequency ranges in GHz) = (RRI) Rcvr_RRI:  0.10 -  1.60, (342) Rcvr_342:  0.29 -  0.40, (450) Rcvr_450:  0.39 -  0.52, (600) Rcvr_600:  0.51 -  0.69, (800) Rcvr_800:  0.68 -  0.92, (1070) Rcvr_1070:  0.91 -  1.23, (L) Rcvr1_2:  1.15 -  1.73, (S) Rcvr2_3:  1.73 -  2.60, (C) Rcvr4_6:  3.95 -  6.10, (X) Rcvr8_10:  8.00 - 10.00, (Hol) Holography: 11.70 - 12.20, (Ku) Rcvr12_18: 12.00 - 15.40, (KFPA) RcvrArray18_26: 17.00 - 27.50, (K) Rcvr18_26: 18.00 - 26.50, (Ka) Rcvr26_40: 26.00 - 39.50, (Q) Rcvr40_52: 38.20 - 49.80, (MBA) Rcvr_PAR: 80.00 - 100.00">Rcvrs</th>
      <th title="The range of the listed receiver(s), in GHz">Frequency (GHz)</th>
    </tr>

    {####################################################}
    {# this for-block loops for each period in the day. #}
    {####################################################}

    {% for event in events %}

    {###################################################################################}
    {# The Date/Time column                                                            #}
    {# start/end cutoff indicates that the period's start/end occurs before/after day. #}
    <tr>
      {% if event.cutoff %}
        {% if event.start_cutoff %}
          <td>+{{event.start|date:"H:i"}} - {{event.end|date:"H:i"}}</td>
        {% else %}
          <td>{{event.start|date:"H:i"}} - {{event.end|date:"H:i"}}+</td>
        {% endif %}
      {% else %}
          <td>{{event.start|date:"H:i"}} - {{event.end|date:"H:i"}}</td>
      {% endif %}

    {################################################################}
    {# The 'Type' column                                            #}
    {# Looking at the period type to set the data row class.        #}
    {# This is what sets the 'Type' background color in the display #}
    {# Only one of the following 'if' statements will evaluate true #}

      {% if event.project_type == "A" %}
          <td class="project_type type_astronomy">{{event.project_type}}</td>
      {% endif %}

      {% if event.project_type == "M" %}
          <td class="project_type type_maintenance" >{{event.project_type}}</td>
      {% endif %}

      {% if event.project_type == "T" %}
          <td class="project_type type_test" >{{event.project_type}}</td>
      {% endif %}

    {################################################################}
    {# The 'project ID' column.                                     #}

      <td><a href="/project/{{event.pcode}}">{{event.pcode}}</a></td>

    {################################################################}
    {# data for 'Project Title' column                              #}

      {% if event.project_type == "A" %}
        <td><a href="http://gbrescal.gb.nrao.edu/gbtobs/proposals.dbw?view=viewproposal&propcode={{event.pcode}}">{{event.project_title}}</a></td>
      {% else %}
        {% if event.project_type == "M" %}
          <td>{{event.project_title}}{{rschedule|get_receiver_change:day}}</td>
        {% else %}
          <td>{{event.project_title}}</td>
        {% endif %}
      {% endif %}

    {################################################################}
    {# 'PI' (principal investigator) column.                        #}

      <td>{{event.principal_investigator.last_name|pretty_none}}</td>

    {################################################################}
    {# data for 'Friend' column.                                    #}
      <td>
	{{ event.friends|display_friend_last_names }}
      </td>

    {################################################################}
    {# data for 'Rcvrs' column.                                     #}
      <td>
        {# If the period is a science period, gets the period's receiver list   #}
        {# and outputs them.  If it is a maintenance day, looks at the receiver #}
        {# schedule and outputs all the receiver for that day.                  #}
        {% if event.project_type == "M" %}
          {{rschedule|get_receivers:day}}
        {% else %}
          {{event.receiver_list}}
        {% endif %}
      </td>

    {################################################################}
    {# data for 'Frequency (GHz)' column.                           #}
      <td>
        {% if event.is_science %}
          {{event.get_rcvr_ranges}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</body>

{% endblock %}
