
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}GBT Schedule{% endblock %}</title>
    <!-- load css before javascript! -->
    <link rel="stylesheet" href="/static/css/lib/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/lib/blueprint/print.css" type="text/css" media="print">    
    <link rel="stylesheet" href="/static/css/lib/fullcalendar/fullcalendar.css" type="text/css">
    <style type="text/css">
      .top_menu {font-size:120%}
    </style>
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/lib/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!-- <script type="text/javascript" src="/static/javascript/lib/jquery.js"> </script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"> </script>
    <script type="text/javascript" src="http://libraryh3lp.com/presence/jid/nrao-dss/chat.libraryh3lp.com/js"></script>
    <script type="text/javascript" src="/static/javascript/help.js"></script>


{% block scripts %}
  <link type="text/css" href="/static/css/lib/themes/base/ui.all.css" rel="stylesheet" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>


  <script type="text/javascript">
  $(document).ready(function(){
    $("#id_start").datepicker();
  });
  </script>
    <style type="text/css">
      .day_header {bgcolor:"#c3d9ff"}
      .project_type {width:1%; text-align:center}
      .type_test {background-color:#87CEFA} 
      .type_astronomy {background-color:#EEEEEE}
      .type_maintenance {background-color:#98FB98}
    </style>
</head>
{% load custom %}

{% endblock %}
{% block content %}

  <div class="container">
    <div class="banner span-24">
      <img src="/static/images/banner.jpg" />
    </div>
  </div>
    <table>
      <tr>
        <td style="text-align: left;">
              <a href="/projects/ical" title="This link provides access to DSS events in the 'iCalendar' format.  To use this feature, right-click the 'ICAL' icon and select 'Copy Link Location'.  Then paste the link into your favorite iCalendar application.">
            <img src="/static/images/ical.gif" style="border: 0;" />
          </a>
        </td>
        <td style="text-align: right;">
          <span id="help" style="display: none; border-right: 10px solid white;">
            <a href="#" onclick="showHelp(); return false;" title="Click here to connect to a DSS team member in live chat">
              <img src="/static/images/chat.gif" style="border: 0;" />
            </a>
          </span>
          <span id="offlinehelp" style="display: none;">
            <a href="#" onclick="showOfflineHelp(); return false;">
              <img src="/static/images/chat_offline.gif" style="border: 0;" />
            </a>
          </span>
          <a href="mailto:helpdesk-dss@gb.nrao.edu" class="top_menu" title="Click here to offer suggestions or report bugs">Helpdesk</a> |
          <a href="/static/html/main.html" class="top_menu" title="GBT Dynamic Scheduling System documentation">Docs</a> |
          <a href="/profile" class="top_menu" title="Click here login to the DSS">Login</a> 
        </td>  
      </tr>
    </table>
  <h1 class="loud"><center>GBT Schedule</center></h1>
  <center>

  <form action="/schedule" method="POST">
  <p>
    <label for="id_start">Start:</label>
    <input type="text" name="start" id="id_start" title="Click once for calendar, click twice for previous entries" value="{{start|date:'m/d/Y'}}"/>
    <label for="id_days">Days:</label>
    <select name="days" id="id_days">
      {% for d in day_list %}
        {% ifequal d days %}
          <option selected="selected">{{d}}</option>
        {% else %}
          <option>{{d}}</option>
        {% endifequal %}
      {% endfor %}
    </select> &nbsp; 
    <label for="id_tz">Time Zone:</label>
    <select name="tz" id="id_tz">
      {% for tz in tz_list %}
        {% ifequal tz timezone %}
          <option selected="selected">{{tz}}</option>
        {% else %}
          <option>{{tz}}</option>
        {% endifequal %}
      {% endfor %}  
    </select>&nbsp;
    <input type="submit" value="View Schedule"/>
  </p>
  </form>
  </center>
  <hr />
  <p align="center">** The project ID links in the below schedule will bring the user to the appropriate page in the <a href="http://www.gb.nrao.edu/dss/">DSS</a> (login required)**</p>
  <table>
    {% for day, ps in calendar %}
    <tr bgcolor="#c3d9ff"> 
    <!--
      <th title="Start and End times for the start day (UTC)">{{day|date:"Y-m-d"}} (UTC)</th>
    -->  
      <th title="Start and End times for the start day (timezone). '+' indicates that the period continues on in an undisplayed date.">{{day}}</th>
      <th title="Project Type: 'A' : Astronomy, 'T' : Test, 'M' : Maintenance">Type</th>
      <th>Project ID</th>
      <th>Project Title</th>
      <th title="Primary Investigator.  To list the observers for this project, click on the Project ID">PI</th>
      <th>Friend</th>
      <th>Rcvrs</th>
    </tr>
    {% for start, end,start_cutoff, end_cutoff, p in ps %}
    <tr>
      {% if start_cutoff or end_cutoff %}
        {%if start_cutoff %}
          <td>+{{start}} - {{end}}</td>
        {% else %}
          <td>{{start}} - {{end}}+</td>
        {% endif %}
      {% else %}    
          <td>{{start}} - {{end}}</td>
      {% endif %}    
      {% ifequal p.session.project.project_type.type "non-science" %}
        {% if p.session.project.is_maintenance %}
          <td class="project_type type_maintenance" >{{p.session.project|project_type}}</td>
        {% else %}
          <td class="project_type type_test" >{{p.session.project|project_type}}</td>
        {% endif %}
      {% else %}
          <td class="project_type type_astronomy">{{p.session.project|project_type}}</td>
      {% endifequal %}
      <td><a href="/project/{{p.session.project.pcode}}">{{p.session.project.pcode}}</a></td>
      {% ifequal p.session.project.project_type.type "science" %}
      <td><a href="http://gbrescal.gb.nrao.edu/gbtobs/proposals.dbw?view=viewproposal&propcode={{p.session.project.pcode}}">{{p.session.project.name}}</a></td>
      {% else %}
      <td>{{p.session.name}}</td>
      {% endifequal %}
      <td>{{p.session.project.principal_investigator.last_name|pretty_none}}</td>
      <td>{{p.session.project.friend.last_name|pretty_none}}</a></td>
      <td>{{p.session.receiver_list_simple}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</body>  


{% endblock %}
