{% extends "users/simple.html" %}
{% load custom %}
{% block title %}MOC Degraded{% endblock %}
{% block content %}
  <EMBED SRC="/static/audio/alarm.wav" AUTOSTART=True LOOP=True HIDDEN=True />
  <center>
  <h1>Observing Conditions Have Degraded</h1>
  <h2>
    <p>
    Observing conditions have degraded for {{p.session.project.pcode}}!<br/>
    Please ask the observer to check the data quality to determine whether <br/>
    he/she wishes to continue observing. 
    </p>
    <p>
    If rescheduling is necessary, please contact the GBT Scheduler.
    </p>

  </h2>
  <form method="POST">
    <input type="button" value="Close" onclick="window.close();">
  </form>
  </center>
{% endblock %}
